* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
  margin-top: 140px;
  padding: 0 20px;
}

body {
  font-family: "Gilroy", sans-serif;
  color: #3E4581;
  background: #FCFCFF;
}

body.locked {
  overflow: hidden;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.btn {
  background: -o-linear-gradient(343.77deg, #AE68FA 0%, #F1966E 100%);
  background: linear-gradient(106.23deg, #AE68FA 0%, #F1966E 100%);
  border-radius: 5px;
  height: 48px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  font-weight: 600;
  color: #FFFFFF;
}

.btn-light {
  background-color: #AE68FA;
  background: -o-linear-gradient(343.77deg, #AE68FA 0%, #F1966E 100%);
  background: linear-gradient(106.23deg, #AE68FA 0%, #F1966E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  border: 1px solid;
  -o-border-image: -o-linear-gradient(343.77deg, #AE68FA 0%, #F1966E 100%);
     border-image: linear-gradient(106.23deg, #AE68FA 0%, #F1966E 100%);
  border-image-slice: 1;
  padding: 15px 50px;
  border-radius: 5px;
}

.header_title {
  background-color: #AE68FA;
  background-image: -o-linear-gradient(343.77deg, #AE68FA 0%, #F1966E 100%);
  background-image: linear-gradient(106.23deg, #AE68FA 0%, #F1966E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 70px;
}

.header-desc {
  max-width: 700px;
  min-height: 60px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #3E4581;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 22px;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.container__header {
  margin-top: 0;
}

nav {
  background-color: transparent;
  overflow: hidden;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo {
  z-index: 26;
}

.logo a {
  color: white;
}

.burger {
  display: none;
  cursor: pointer;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__btn {
  width: 100px;
  z-index: 26;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 45px;
}

.menu__item-link {
  font-weight: 400;
  font-size: 14px;
  color: #3E4581;
}

.menu__item-link:active,
.menu__item-link:hover {
  background-color: #AE68FA;
  background-image: -o-linear-gradient(343.77deg, #AE68FA 0%, #F1966E 100%);
  background-image: linear-gradient(106.23deg, #AE68FA 0%, #F1966E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__item-link-grdient-text {
  background-color: #AE68FA;
  background-image: -o-linear-gradient(343.77deg, #AE68FA 0%, #F1966E 100%);
  background-image: linear-gradient(106.23deg, #AE68FA 0%, #F1966E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: transparent;
}

.header__container {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px;
}

.header__logo {
  position: relative;
  z-index: 25;
}

.menu__icon {
  display: none;
}

.menu > li {
  position: relative;
  margin: 0 0 0 20px;
}

.menu__link {
  color: #fff;
  font-size: 18px;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #000;
  padding: 15px;
  min-width: 200px;
}

.menu__sub-list li:not(:last-child) {
  margin: 0 0 10px 0;
}

.menu__sub-link {
  color: #fff;
}

.menu__sub-link:hover {
  text-decoration: underline;
}

/* ----------------------- */

body._lock {
  overflow: hidden;
}

body._pc .menu > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body._touch .menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin-left: 5px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  border-left: 5px solid transparrent;
  border-right: 5px solid transparrent;
  border-top: 10px solid #fff;
}

body._touch .menu > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu > li._active .menu__arrow {
  -webkit-transform: translate(-180deg);
      -ms-transform: translate(-180deg);
          transform: translate(-180deg);
}

/* ----------------------- */

.section__hero {
  position: relative;
}

.container__hero {
  position: relative;
  margin-top: 60px;
}

.container__hero-bg-lines {
  position: absolute;
  top: -270px;
  left: -3px;
  z-index: -6;
}

.container__hero-bg-circle {
  position: absolute;
  top: -140px;
  right: -600px;
  z-index: -5;
}

.container__hero-arrow-bg {
  position: absolute;
  top: 0px;
  left: -120px;
  z-index: -4;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__item {
  margin-top: 190px;
  width: 540px;
}

.hero__title {
  background-color: #AE68FA;
  background-image: -o-linear-gradient(343.77deg, #AE68FA 0%, #F1966E 100%);
  background-image: linear-gradient(106.23deg, #AE68FA 0%, #F1966E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 85px;
  font-weight: 700;
}

.hero__text {
  margin-top: 30px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

.hero__btns {
  margin-top: 60px;
}

.hero__btn {
  width: 180px;
  height: 48px;
  margin-right: 10px;
}

.hero__img {
  margin-right: -170px;
}

.hero__img > img {
  width: 100%;
}

.hero__bg-skew {
  position: absolute;
  background: #F8F8FF;
  height: 870px;
  width: 100%;
  -webkit-transform: skewY(-15deg);
      -ms-transform: skewY(-15deg);
          transform: skewY(-15deg);
  top: 380px;
  z-index: -4;
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 68px;
}

.partners__logo {
  padding: 20px;
}

.container__offer {
  position: relative;
}

.container__offer-bg-circle {
  position: absolute;
  top: -800px;
  right: -50%;
  z-index: -7;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 926px;
  margin-top: 80px;
}

.offer__item {
  width: 282px;
  height: 270px;
  padding: 36px 27px 13px 35px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1.03704px 2.47917px rgba(0, 0, 0, 0.052963);
          box-shadow: 0px 1.03704px 2.47917px rgba(0, 0, 0, 0.052963);
  border-radius: 10px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.offer__item:nth-child(3n) {
  margin-right: 0;
}

.offer__item-icon {
  width: 60px;
  height: 60px;
  background: #ECEEFF;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.offer__item-img {
  position: absolute;
  top: 10px;
}

.offer__item-header {
  font-size: 20px;
  line-height: 18px;
  margin-top: 40px;
  font-weight: 600;
}

.offer__item-text {
  margin-top: 15px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.section__howitwork {
  position: relative;
}

.section__howitwork-arrow-bg {
  position: absolute;
  bottom: -150px;
  left: 0;
  z-index: -4;
}

.howitwork {
  max-width: 1070px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.howitwork__left {
  position: relative;
  max-width: 45%;
  margin-right: 120px;
}

.howitwork__left-bg {
  position: absolute;
  right: 0;
  bottom: 400px;
  z-index: -5;
}

.howitwork__header {
  text-align: left;
}

.howitwork__header-desc {
  text-align: left;
}

.howitwork__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 475px;
  max-height: 580px;
  background: #ECEEFF;
  border-radius: 25px;
  padding-bottom: 40px;
}

.howitwork__item-1 {
  margin-top: 60px;
  background-image: url(../img/shape-1.svg);
}

.howitwork__item-2 {
  background-image: url(../img/shape-2.svg);
}

.howitwork__item-3 {
  margin-top: 60px;
  background-image: url(../img/shape-3.svg);
}

.howitwork__item-3 > img {
  margin-left: -126px;
  width: 100%;
}

.howitwork__item-header {
  margin-top: 67px;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  font-weight: 700;
}

.howitwork__item-text {
  margin-top: 27px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-weight: 400;
  max-width: 350px;
}

.howitwork__right {
  position: relative;
  max-width: 50%;
}

.howitwork__right-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -5;
}

.howitwork__right-bg > img {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.plans__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plans__item {
  width: 362px;
  height: 508px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1.03704px 2.47917px rgba(0, 0, 0, 0.052963);
          box-shadow: 0px 1.03704px 2.47917px rgba(0, 0, 0, 0.052963);
  border-radius: 10px;
  padding: 50px 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plans__header {
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
}

.plans__price {
  margin-top: 33px;
}

.plans__list-item {
  font-size: 16px;
  line-height: 100%;
  text-transform: capitalize;
  margin-top: 16px;
}

.plans__list-item:first-child {
  margin-top: 0;
}

.plans__list-item::before {
  content: url(../img/bullit.svg);
  margin-right: 16px;
}

.plans__item-dark {
  background: #481177;
  color: #fff;
}

.plans__item-dark .plans__list-item::before {
  content: url(../img/bullit-w.svg);
}

.plans__btn-light-bg {
  width: 100%;
}

.plans__btn-light {
  width: 100%;
  text-align: center;
}

.section__reviews {
  position: relative;
}

.reviews {
  position: relative;
}

.reviews__subheader {
  max-width: 690px;
}

.reviews__wrapper {
  margin: 0 auto;
  max-width: 1220px;
}

.reviews__items {
  margin-top: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 380px;
  min-height: 295px;
  padding: 30px 25px;
  background: #fff;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-shadow: 0px 41.04px 42.48px rgba(0, 0, 0, 0.053);
          box-shadow: 0px 41.04px 42.48px rgba(0, 0, 0, 0.053);
  border-radius: 10px;
}

.reviews__item-rating {
  width: 101px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__item-text {
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #3E4581;
}

.reviews__item-name {
  margin-top: 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #3E4581;
}

.reviews__item-post {
  margin-top: 9px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #3E4581;
}

.reviews__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 70px;
  width: 120px;
  height: 66px;
  background: #fff;
  -webkit-box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.reviews__btn-left,
.reviews__btn-right {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
}

.reviews__btn-left {
  background: #fff;
}

.reviews__btn-left::before {
  content: url(../img/icon-arr-left.svg);
}

.reviews__btn-right {
  background: -o-linear-gradient(343.77deg, #AE68FA 0%, #F1966E 100%);
  background: linear-gradient(106.23deg, #AE68FA 0%, #F1966E 100%);
}

.reviews__btn-right::before {
  content: url(../img/icon-arr-right.svg);
}

.reviews__bg-circle {
  position: absolute;
  top: -250px;
  left: -900px;
  opacity: 0.5;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: visible;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  opacity: 0.15;
  min-height: 320px;
}

.swiper-slide-visible {
  opacity: 0.5;
}

.swiper-slide-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
  color: none;
  margin-top: 0;
  outline: none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.container__start {
  background: #F8F3FF;
  max-width: 1440px;
  min-height: 610px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 92px;
}

.start__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 92px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.start__wrapper-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.start__wrapper-cta-text {
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
}

.start__header {
  margin-top: 80px;
}

.start__btn {
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  min-height: 58px;
  width: 198px;
}

.section__getstarted {
  padding-top: 80px;
  padding-bottom: 100px;
  position: relative;
}

.getstarted {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.getstarted__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 40px;
  min-height: 73px;
  background: #EADFFB;
  -webkit-box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.getstarted__input {
  padding: 24px 28px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #3E4581;
  background: #EADFFB;
  border-radius: 10px;
  margin-top: 1px;
}

.getstarted__input::-webkit-input-placeholder {
  color: #3E4581;
}

.getstarted__input::-moz-placeholder {
  color: #3E4581;
}

.getstarted__input:-ms-input-placeholder {
  color: #3E4581;
}

.getstarted__input::-ms-input-placeholder {
  color: #3E4581;
}

.getstarted__input::placeholder {
  color: #3E4581;
}

.getstarted__button {
  width: 197px;
  height: 60px;
  margin: 6px;
  position: relative;
  text-align: left;
  padding-left: 30px;
}

.getstarted__button::after {
  content: url(../img/btn-arr.svg);
  width: 50px;
  height: 54px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  position: absolute;
  margin: 3px;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.getstarted__decorator {
  position: absolute;
  bottom: -80px;
  right: 0;
}

.getstarted__video {
  margin-top: 60px;
}

.getstarted__video-img {
  display: inline-block;
  margin-right: 14px;
}

.getstarted__video-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

footer {
  display: block;
}

footer .container {
  margin-top: 0;
}

.footer {
  max-width: 878px;
  margin: 0 auto;
}

.footer .navbar {
  padding-bottom: 62px;
  border-bottom: 1px solid #3A3A3A;
}

.footer__copyright {
  font-weight: 400;
  margin: 34px auto;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ADADAD;
}

.footer__media-icon {
  width: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__menu-item {
  margin: 10px;
}

.footer__item-link {
  font-weight: 500;
}

@media (min-width: 767px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu > li {
    padding: 10px 0;
  }

  .menu__sub-list {
    -webkit-transform: translate(0px, 10%);
        -ms-transform: translate(0px, 10%);
            transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1100px) {
  .getstarted__decorator {
    opacity: 0.2;
  }
}

@media (max-width: 1070px) {
  .partners {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1040px) {
  .hero__img {
    width: 40%;
    margin: auto;
  }
}

@media (max-width: 1000px) {
  .howitwork__left {
    margin-right: 60px;
  }

  .howitwork__right {
    max-width: 45%;
  }

  .plans__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .plans__item {
    width: 100%;
    -webkit-box-shadow: 0 1.03704px 2.47917px rgba(0, 0, 0, 0.3);
            box-shadow: 0 1.03704px 2.47917px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
  }
}

@media (max-width: 995px) {
  .offer__item:nth-child(2n) {
    margin-right: 0;
  }

  .offer__item:nth-child(3n) {
    margin-right: 40px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 800px) {
  .hero {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .hero__item {
    margin: 0 auto;
  }

  .hero__img {
    margin-right: auto;
    margin-top: 30px;
    width: 60%;
  }

  .howitwork__item-3 > img {
    margin-left: 0;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }
}

@media (max-width: 767px) {
  .header__logo img {
    width: 160px;
  }

  .menu__icon {
    z-index: 25;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
    z-index: 25;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
    background-color: #fff;
    z-index: 25;
  }

  .menu__body .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__body .menu > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: block;
    margin: 0 0 30px 0;
  }

  .menu__body .menu > li:last-child {
    margin: 0;
  }

  .menu__body .menu > li._active .menu__sub-list {
    display: block;
  }

  .menu__body .menu__item:not(:last-child) {
    margin: 0 0 40px 0;
  }

  .menu__body .menu__item {
    margin-bottom: 40px;
  }

  .menu__body .menu__item-link {
    font-size: 24px;
  }

  .menu__body .menu__sub-list {
    position: relative;
    background-color: #fff;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 20px 0 0 0;
    display: none;
  }

  .menu__body .menu__sub-link {
    font-size: 20px;
    color: #000;
  }
}

@media (max-width: 750px) {
  .howitwork__left {
    margin-right: 30px;
  }
}

@media (max-width: 730px) {
  .header_title {
    font-size: 50px;
    line-height: 55px;
  }

  .header-desc {
    font-size: 18px;
    line-height: 26px;
  }

  .getstarted__decorator {
    opacity: 0.1;
  }
}

@media (max-width: 700px) {
  .container__getstarted {
    margin-top: 0px;
  }
}

@media (max-width: 650px) {
  .howitwork {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .howitwork__left {
    max-width: 100%;
    margin: 0 auto;
  }

  .howitwork__header {
    text-align: center;
  }

  .howitwork__header-desc {
    text-align: center;
  }

  .howitwork__item-1 {
    margin: 0 auto;
    margin-top: 60px;
  }

  .howitwork__item-2 {
    margin-top: 60px;
  }

  .howitwork__right {
    max-width: 100%;
  }

  .start__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }

  .start__wrapper-cta {
    margin-top: 30px;
  }

  .start__wrapper-cta-text {
    margin-top: 15px;
  }
}

@media (max-width: 643px) {
  .offer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }

  .offer__item {
    margin-right: 0;
    width: 282px;
    height: 270px;
  }

  .offer__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .container {
    margin-top: 40px;
  }

  .container__header {
    margin-top: 0;
  }

  .hero__item {
    margin-top: 0;
  }

  .hero__title {
    font-size: 55px;
  }

  .hero__btn {
    width: 100%;
  }

  .hero__btn-light {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }

  .reviews {
    margin-top: 60px;
  }

  .swiper {
    padding-top: 0;
  }

  .section__getstarted {
    margin-top: 60px;
    padding-top: 0px;
    padding-bottom: 60px;
  }

  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 550px) {
  .header_title {
    font-size: 45px;
    line-height: 50px;
  }

  .header-desc {
    font-size: 16px;
    line-height: 24px;
  }

  .getstarted__decorator {
    display: none;
  }
}

@media (max-width: 526px) {
  .getstarted__input {
    text-align: center;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }
}

@media (max-width: 450px) {
  .hero__img {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
  }
}

@media (max-width: 400px) {
  .header_title {
    font-size: 40px;
    line-height: 45px;
  }
}

@media (max-width: 375px) {
  .footer .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 320px) {
  .hero__title {
    font-size: 50px;
  }
}